<div class="wnt">
	<div class="one">
		<app-raj></app-raj>
	</div>
	<div class="one">
		<div class="three">
			<app-mahesh></app-mahesh>
		</div>
		<div class="three">
			<app-sumeet></app-sumeet>
		</div>
		<div class="three">
			<app-rakshanda></app-rakshanda>
		</div>
	</div>
	<div class="one">
		<div class="three">
			<app-ashay></app-ashay>
		</div>
		<div class="three">
			<app-rasika></app-rasika>
		</div>
		<div class="three">
			<app-venkatesh></app-venkatesh>
		</div>
	</div>
	
	
	<div class="one">
		<app-ashutosh></app-ashutosh>
	</div>
</div>