<div class="container">
  <div class="fadeOut">
    <img src="assets/images/logo.png" class="rLogo">
  </div>
  <div class="fadeIn">
    <p class="fadeTxt">
      Information
    </p>
    <p class="fadeTxt">
      Technology
    </p>
    <p class="fadeTxt">
      Students'
    </p>
    <p class="fadeTxt">
      Association
    </p>
    <p class="fadeHash">
      #ExploreToInspire
    </p>
  </div>
</div>
<div class="row">
  <p class="subHeads">
    WHAT IS ITSA?
  </p>
  <p class="WIITxt">
    ITSA is an association formed by the undergrad of the Information Technology Department of PVG's COET.
  </p>
  <br>
  <p style="margin-left: 10%; margin-right: 10%;" class="WIITxt">
    ITSA gives students a platform to share their skills with others and learn new technologies. It draws ideas out of students and helps turn those ideas into reality.
  </p>
</div>
<div class="row" style="background-color: black; margin: 0px; color: white">
  <p class="subHeads">
    OUR LEADERS
  </p>
  <div class="pics">
    <div class="columnOut">
      <img src="assets/images/HOD_IT.jpg" alt="HOD" class="leaders">
      <p class="name">
        <b>
          Prof. S.S. Dixit
        </b>
      </p>
      <p class="designation">
        HEAD OF IT DEPT.
      </p>
    </div>
    <div class="columnOut">
      <img src="assets/images/Prof SADeshpande.jpg" alt="Staff_Coord" class="leaders">
      <p class="name">
        <b>
         Prof. S.A. Deshpande
        </b>
      </p>
      <p class="designation">
        STAFF COORDINATOR
      </p>
    </div>
    <div class="columnOut">
      <a routerLink="/teams">
        <img src="assets/images/venkatesh.jpg" alt="GS" class="leaders">
      </a>
      <p class="name">
        <b>
          Venkatesh Kalokhe
        </b>
      </p>
      <p class="designation">
        GENERAL SECRETARY
      </p>
    </div>
    <div class="columnOut">
      <a routerLink="/teams">
        <img src="assets/images/amod (1).JPG" alt="JGS" class="leaders">
      </a>
      <p class="name">
        <b>
          Amod Sahasrabudhe
        </b>
      </p>
      <p class="designation">
        JOINT GENERAL SECRETARY
      </p>
    </div>
  </div>
</div>
<br>
<div class="row" style="left: 0;">
  <p class="subHeads">
    OUR TEAMS
  </p>
  <div class="pics">
    <div class="columnIn">
      <a routerLink="/teams/finance">
        <img class="teams" src="assets/images/finance.png">
      </a>
      <p style="color: black;" class="designation">
        Team Finance
      </p>
    </div>
    <div class="columnIn">
      <a routerLink="/teams/wnt">
        <img class="teams" src="assets/images/technical&web.png">
      </a>
      <p style="color: black;" class="designation">
        Team Web & Technical
      </p>
    </div>
    <div class="columnIn">
      <a routerLink="/teams/notification">
        <img class="teams" src="assets/images/notification.png">
      </a>
      <p style="color: black;" class="designation">
        Team Notification
      </p>
    </div>
    <div class="columnIn">
      <a routerLink="/teams/em">
        <img class="teams" src="assets/images/EventManagement.png">
      </a>
      <p style="color: black;" class="designation">
        Team Event Management & Production
      </p>
    </div>
    <div class="columnIn">
      <a routerLink="/teams/scnp">
        <img class="teams" src="assets/images/studentCoordination.png">
      </a>
      <p style="color: black;" class="designation">
        Team Student Coordination & Printing
      </p>
    </div>
   
  </div>
</div>
