<div class="wnt">
	<div class="one">
		<app-head></app-head>
	</div>
	<div class="one">
		<div class="three">
			<app-vishal></app-vishal>
		</div>
		<div class="three">
			<app-prachi></app-prachi>
		</div>
		<div class="three">
			<app-ajay></app-ajay>
		</div>
	</div>
	<div class="one">
		<div class="two">
			<app-deepak></app-deepak>
		</div>
		<div class="two">
			<app-mahima></app-mahima>
		</div>
	</div>
	<div class="one">
		<div class="three">
			<app-sushant></app-sushant>
		</div>
		<div class="three">
			<app-shreyam></app-shreyam>
		</div>
		<div class="three">
			<app-riya></app-riya>
		</div>
	</div>
	<div class="one">
		<div class="two">
			<app-shreyak></app-shreyak>
		</div>
		<div class="two">
			<app-priya></app-priya>
		</div>
	</div>
	<div class="one">
		<div class="two">
			<app-pranav></app-pranav>
		</div>
		<div class="two">
			<app-maitreya></app-maitreya>
		</div>
	</div>
</div>