<div class="container">
  <div class="top">
    Meet The Team
  </div>
  <nav class="tnav">
    <div class="fivenav">
      <a routerLink="/teams/leaders">
        GS & AGS
      </a>
    </div>
    <div class="onenav">
      <a routerLink="/teams/finance">
        Finance
      </a>
    </div>
    <div class="fournav">
      <a routerLink="/teams/wnt">
        Web & Tech
      </a>
    </div>
    <div class="fournav">
      <a routerLink="/teams/notification">
        Notification
      </a>
    </div>
    <div class="threenav">
      <a routerLink="/teams/em">
        Event Management & Production
      </a>
    </div>
    <div class="threenav">
      <a routerLink="/teams/scnp">
        Student Coordination & Printing
      </a>
    </div>
    
  </nav>
  <router-outlet></router-outlet>
</div>