<!--<div class="card-deck mr-50 " style="width:50%; margin-left:20%; margin-right:20%;margin-top:10%">-->
 <div class="margin" >
    <div class="margincard">
     <div class="row"> 
      <div class="col-sm-6 text-left">
       <div class="shadow-lg p-3 mb-5 ">      
         <a data-toggle="modal" href="#codebuddies" class="card">
           <h3 ><img src="/assets/image/code buddies.png">Code Buddies</h3>    
         </a>
        </div>
       </div>
      
       <div class="col-sm-6">
          <div class="shadow-lg p-3 mb-5 ">      
            <a data-toggle="modal" href="#treasurehunt" class="card">
              <h3 ><img src="/assets/image/cth.png">Coder's treasure Hunt</h3>    
            </a>
           </div>
          </div>
   </div> 
    </div>
     
   <div class="margincard">
    <div class="row"> 
        <div class="col-sm-6">
            <div class="shadow-lg p-3 mb-5 ">      
              <a data-toggle="modal" href="#codestorm" class="card">
                <h3 ><img src="/assets/image/code storm.png">Code Storm</h3>    
              </a>
             </div>
            </div>


         <div class="col-sm-6">
       <div class="shadow-lg p-3 mb-5 ">      
         <a data-toggle="modal" href="#cquest" class="card">
           <h3 ><img src="/assets/image/c quest.png">CQuest</h3>    
         </a>
        </div>
       </div>
   </div> 
    </div> 

    <div class="margincard">
        <div class="row"> 
         <div class="col-sm-6">
          <div class="shadow-lg p-3 mb-5 ">      
            <a data-toggle="modal" href="#techtionary" class="card">
              <h3 ><img src="/assets/image/techtionary.png">Techtionary</h3>    
            </a>
           </div>
          </div>
      </div> 
       </div>
     <!--  <div class="shadow-lg p-3 mb-5 bg-white "> 
        <div class="card bg-light">
          <div class="card-body text-center">
            <h3>Cquest</h3>
          </div>
        </div>
      </div>
       <div class="card bg-light">
                <div class="card-body text-center">
                  <h3>Code Storm</h3>
                </div>
              </div>-->
   
<div class="modal fade" id="codebuddies">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">Code Buddies</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
                      
                      <!-- Modal body -->
    <div class="modal-body">
        <h6>
   <pre>
      TEAM: 2 members
      FEES: 50Rs for non ITSA members
      Free for ITSA members
      NUMBER OF ROUNDS: 3
      EVENT STRUCTURE:
      • In round 1, each team will be given a coding task. Total time of this
       round is 15 minutes. In the first half, one partner will write partial 
       code. Then in second half, other partner has to finish the code and show
        the correct outputs.
      • Round 2 will be of 15 minutes as well. Now, the 2 players code 
      together. Teams have to code with the screen kept off.
      • All the teams that reach the 3rd and final round will be given 
      some points. Using these points, teams bet for questions. On finding 
      correct answers, a team gains more points.
      At the end, the team with maximum points wins.
      RULES OF THE GAMES:
      • The team has to be of 2 players. No more, no less.
      • In round 1, the second partner cannot see the first partner while 
      coding or converse with him and vice versa.
      • Screens have to be compulsorily kept off during the second round.
      • Any team found to be cheating or performing malpractices will be
       disqualified immediately.
    </pre> </h6>
                      </div>
                      
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
<div class="modal fade" id="cquest">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <!-- Modal Header -->
           <div class="modal-header">
               <h4 class="modal-title">CQUEST</h4>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
             </div>
                                        
               <!-- Modal body -->
   <div class="modal-body">
      <h6><pre>
     TEAM : 2 MEMBERS
     FEES : 50Rs for non ITSA members
     Free for ITSA members   
     NUMBER OF ROUNDS : 3
     STRUCTURE
        • Round 1 : MCQ questions.
          
          In round 1 there will be 20 MCQ questions on C language. 25 minutes 
          time will be given to solve 20 questions.
          
        • Round 2 : Coding
          In round 2 a coding task will be given. Total time for this round is 
          25 minutes.
          A problem statement will be given to each team, participating team 
          will have to code the given statement in C language. Questions will 
          be different for each team with same difficulty level.
           
        • Round 3 : QUIZ                
            Quiz on technical questions in C language. This round will contain mix
            questions which includes theoretical as well as code snippets. Total time for
            this round 30 minutes.
                        
      RULES
          • Team has to be of 2 players.
          • Round 2 participants have to compulsory code in C language.
          • Top 4 teams clearing round 2 will get qualified for round 3.
          • No change of statement in round 2.
          • Improper or unfair means used for answering will lead to immediate
            disqualification. 
          • Decision of committee is final and binding on all participants.
          </pre> </h6>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>       
    </div>      

                <div class="modal fade" id="treasurehunt">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Coder's Treasure Hunt</h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                                                         
                                <!-- Modal body -->
                    <div class="modal-body">
                    <h6>
    <pre>  
      TEAM : Single participant only
      FEES : 50Rs for non ITSA members
      Free for ITSA members
      NUMBER OF ROUNDS : 2
      STRUCTURE
      ▪ It comprises of 2 rounds at the end of 1st round selected participant
       will be promoted  to second round and in the 2nd round stakes will 
       be high.
      ▪ In both rounds 1st and 2nd there will be 30 questions based on
       technical knowledge, time given for this round is of 30 minutes.
      ▪ Hints will be provided for both rounds for each riddle and difficulty 
      level increases with each round.
    RULES
      ▪ Each riddle has some specified marks; after correct submission you will 
      awarded with this marks.
      ▪ And also after wrong submission (-1) penalty is given on marks of that
       riddle.
      ▪ Hints are provided for each riddle but after you used hint marks of 
      that riddle is reduced by (-2).
      ▪ Hints can be use only once for each riddle.
      ▪ Hints will not be provided if marks of that riddle are equal to 1.
        </pre></h6>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    </div> 
    
      
<div class="modal fade" id="codestorm">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <!-- Modal Header -->
        <div class="modal-header">
           <h4 class="modal-title">Code Storm</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
                        
                        <!-- Modal body -->
      <div class="modal-body">
          <h6>
    <pre>
      FEES : 30Rs
      Code Storm is an online contest in which you have a problem statement given and you have to submit programming solution for that problem statement.
      
      Rules and Regulations :
      o During event after every 2 hour we will post one problem statement, you
      have to submit solution for given problem within 2 hours.
      o The contest will not be a team contest and requires individual 
      participation.
      o The solutions submitted shall be evaluated by an online judge.
      o Slot wise winners are chosen. Rankings will be decided on the number 
      of problems solved. Ties will be broken using the time penalty involved.
      o The venue would be your own desktop/laptop at a place suitable for you.
      o Only the code submissions during the period of competitions will be
      evaluated.
    </pre></h6>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="techtionary">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <!-- Modal Header -->
      <div class="modal-header">
         <h4 class="modal-title">Techtionary</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
                      
                      <!-- Modal body -->
    <div class="modal-body">
        <h6>
  <pre>
      FEES : 60Rs
      Rules:
      • There will be 6 teams in one slot.
      • Maximum team size will be 3.
      • There will be winner from each slot.
      Round 1 :
      • One team member will be given three words. That team has to draw that
       word and other team members have to guess that word.
      • One minute will be given to draw the word and one minute will be given
       to guess the word.
      • Correct guessing of word will get 10 points.
      Round 2 :
      • One team member will be given five words and that team has to draw the
       word and simultaneously other team members have to guess the word.
      • If team member is unable to draw, he/she can change the word but 
      he/she cannot go back to that word.
      • Two minutes will be given for guessing five words.
      • Correct guessing of word will get 10 points.
      Round 3 :
      • One member will be given half minute to draw the word.
      • After half minute other team member has to complete that drawing.
      • Third member has to guess the word and write the word in one cheat.
      • Correct guessing will get 10 points.
      • If team member finish task in less time he/she can pass to next. 
      And the team who finish the task with correct guess will get 10 points.
  Terms and Conditions:
      • Final result decided by the committee of ITSA are considered as final.
      • No disputes /complaints will be entertained.
      Contact: Sayli Bhoge(9561745005)
    
  </pre></h6>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    
  </div>
</div>
</div>
</div>


