<div class="notif">
	<div class="one">
		<app-sanjana></app-sanjana>
	</div>
	<div class="one">
		<div class="two">
			<app-sayli></app-sayli>
		</div>
		<div class="two">
			<app-aniket></app-aniket>
		</div>
	</div>
	<div class="one">
		<div class="two">
			<app-kaustubh></app-kaustubh>
		</div>
		<div class="two">
			<app-rutuja></app-rutuja>
		</div>
		
	</div>
	<div class="one">
		<div class="three">
			<app-sharayu></app-sharayu>
		</div>
		<div class="three">
			<app-vaishnavi></app-vaishnavi>
		</div>
		<div class="three">
			<app-ashwini></app-ashwini>
		</div>
	</div>
</div>