<!--<div class="card-deck mr-50 " style="width:50%; margin-left:20%; margin-right:20%;margin-top:10%">-->

  <div class="margin">
      <div class="margincard">
          <div class="row"> 
           <div class="col-sm-6">
            <div class="shadow-lg p-3 mb-5 ">      
              <a data-toggle="modal" href="#logoquiz" class="card">
                <h3 ><img src="/assets/image/logo quiz1.png">Logo Quiz</h3>    
              </a>
             </div>
            </div>
           
            <div class="col-sm-6">
               <div class="shadow-lg p-3 mb-5 ">      
                 <a data-toggle="modal" href="#tvtrivia" class="card">
                   <h3 ><img src="/assets/image/tv trivia.png">TV Trivia</h3>    
                 </a>
                </div>
               </div>
        </div> 
         </div> 


        <div class="margincard">
            <div class="row"> 
             <div class="col-sm-6">
              <div class="shadow-lg p-3 mb-5 ">      
                <a data-toggle="modal" href="#foot" class="card">
                  <h3 ><img src="/assets/image/football auction.png">Football Auction</h3>    
                </a>
               </div>
              </div>
             
              <div class="col-sm-6">
                 <div class="shadow-lg p-3 mb-5 ">      
                   <a data-toggle="modal" href="#bbc" class="card">
                     <h3 ><img src="/assets/image/BBC.png">Beg-Borrow-Click</h3>    
                   </a>
                  </div>
                 </div>
          </div> 
           </div>


      <div class="margincard">
          <div class="row"> 
           <div class="col-sm-6">
            <div class="shadow-lg p-3 mb-5 ">      
              <a data-toggle="modal" href="#funchase" class="card">
                <h3 ><img src="/assets/image/fun chase.png"> Fun Chase</h3>    
              </a>
             </div>
            </div>
           
            <div class="col-sm-6">
               <div class="shadow-lg p-3 mb-5 ">      
                 <a data-toggle="modal" href="#bestshot" class="card">
                   <h3 ><img src="/assets/image/best shot.png">Best Shot</h3>    
                 </a>
                </div>
               </div>
        </div> 
         </div>


    </div>
    <div class="modal fade" id="logoquiz">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
           <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">Logo Quiz</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
                            
                            <!-- Modal body -->
          <div class="modal-body">
              <h6>
   <pre>
      Description:
      Logo quiz is a game designed for entertainment and knowledge. It is
      a fun quiz based on Signs and symbols of different things based in different
      domains and is a test of your GK, memory and intuition.
      Number of Players : Maximum 2 players per team.
      Fees : 30Rs
      Logo Categories: Sports
      Companies Cars Fashion
      Brands Domestic &
      Commercial Brands.
      Rules:
      ● Images of logos of different companies will be shown.
      ● Teams has to guess the name of the company/brand.
      ● In first round every Team will get chance to answer.
      ● In second round Team showing the card will get a chance to answer
      first.
      ● Every right answer will credit 1 point.
      ● Every wrong answer will carry negative 1 point.
      ● Tie breaker round :
      In the event of a tie, a set of 3 questions will be asked. There will
      be no passing of the question in this round.
      The participant which scores the most points will be declared as the
      winner.
      Terms and Conditions :
      1. Use of electronic devices is not permitted.
      2. Use of internet is not permitted.
      3. No competitor shall leave the room during
      the game.
    </pre> </h6>
  </div>
  
  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  
</div>
</div>
</div>      
<div class="modal fade" id="tvtrivia">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <!-- Modal Header -->
        <div class="modal-header">
           <h4 class="modal-title">TV Trivia</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
                        
                        <!-- Modal body -->
      <div class="modal-body">
          <h6>
<pre>
    Description :
    Trivia titans is a game designed for entertainment. It is a fun quiz
    based on television series and movies and is a test of knowledge, memory
    and intuition.
    Number of Players :
    Maximum 2 players per team
    Fees :one show-30Rs,two shows-50Rs,three shows-80Rs
    TV Series & Movies:
    FRIENDS (10 seasons)
    Game of Thrones (7 seasons)
    Harry Potter (8 movies)
    Round 1 :
    The first round is a pen and paper round where each team will be
    given a set of 20 questions . The time limit for the first round is 10
    minutes . Each question carries 1 point and there is no negative marking .
    Each team has to answer the questions precisely in legible handwriting.
    The team which crosses a certain threshold will be selected for round 2.
    Round 2 :
    The second round is a buzzer round. There will be a set of 20
    questions which will be asked by the game host. Each team will have to
    press the buzzer given to them if they know the answer. The team which
    presses the buzzer first will be given the chance to answer first. If the team
    answers correctly, they will be awarded with 2 points . If they answer
    incorrectly, the question will be passed to the team which pressed the
    buzzer second. If the second team answers correctly, they will be awarded
    1 point . The question will not be passed further if the second team fails to
    answer the question.
    Tie breaker round :
    In the event of a tie, a set of 3 questions will be asked. The marking
    system will be same as that of the second round. There will be no passing
    of the question in this round. The team which scores the most points will be
    declared as the winner.
    Terms and Conditions :
    Use of electronic devices is not permitted.
    Use of internet is not permitted.
    No competitor shall leave the room during the game.
</pre> </h6>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>  





<div class="modal fade" id="bbc">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <!-- Modal Header -->
        <div class="modal-header">
           <h4 class="modal-title">Beg-Borrow-Click</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
                        
                        <!-- Modal body -->
      <div class="modal-body">
          <h6>
<pre>
  FEES: 80Rs 
  About the Game :-
  ➢ BBC is a team game ( team of 2 ) in which team has to
  complete the list of given tasks in the shortest possible time.
  ➢ As the name suggests, the game is based on clicking
  pictures of the objects which are mostly available with
  students in the campus. Thus the participating team has to
  borrow the specified object from any person in the campus
  and click its photograph.
  ➢ (for eg, a task could be ‘find 5 people wearing Nike shoes’ or
  ‘find 5 parker pens’ or ‘find 5 people wearing a hoodie’ )
  Structure of Game :-
  ➢ The game consists of 3 rounds in which the 3rd round will be
  the final round.
  ➢ 1st Round will consist of 5 to 6 teams participating together
  in a single slot. They will receive 4 to 5 tasks as shown in
  above example. The team completing all the tasks in
  shortest time (in their slot) will proceed to the next round.
  ➢ The 2nd Round will consist of 1 riddle leading to a single
  object + 2 normal tasks + 1 special task. The team
  completing all the tasks in shortest time (in their slot) will
  proceed to the next round.
  ➢ The Final round will consist of the above as well as a mystery
  task whose completion will determine the winners and the
  runner-ups.
  Rules of the Game :-
  ➢ This is a team game which consists of 2 players in a team.
  There cannot be more or less people.
  ➢ Each 1st round will take place for 15 min only.
  ➢ While clicking a picture, one team mate has to click the
  photo while the other has to be in the photo.
  ➢ Selfies are not allowed.
  ➢ Any team found to be cheating will be disqualified
  immediately.
</pre> </h6>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    
    </div>
    </div>
    </div>  





<div class="modal fade" id="funchase">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <!-- Modal Header -->
        <div class="modal-header">
           <h4 class="modal-title">Fun Chase</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
                        
                        <!-- Modal body -->
      <div class="modal-body">
          <h6>
<pre>
    Derby race is the competitive game in which all the participants try to reach the
    finish line by throwing a dice one by one and moving forward in their respective
    blocks by the number shown by the dice.
    Fees:20Rs
    Rules and Regulations:
    • Six participants will start the game by standing on the starting block of their
    row.
    • Each row will contain thirteen blocks numbered from 1 to 13.
    • Each time, the referee will throw the dice and the number appeared on the
    dice will decide the player who will get the chance to play.
    • After getting the chance, the participant will throw the dice. The number on
    the dice will be the number of blocks the participant must move.
    • The first participant to cross all the blocks will win!!
</pre> </h6>
</div>

<!-- Modal footer -->


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    
    </div>
    </div>
    </div>  

    <div class="modal fade" id="bestshot">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
           <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">Best Shot</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
                            
                            <!-- Modal body -->
          <div class="modal-body">
              <h6>
    <pre>
        The sack race or gunny sack race is a competitive game in which participants
        place both their legs inside a sack that reaches their waist or neck and hop
        forward from a starting point towards a finish line. The first person to cross the
        finish line is the winner of the race.
        
        Rules and Regulations:
        • Each participant must be standing in the sack with both feet together at the
        start line of the course.
        • Only jumping is allowed, there is to be no running whilst in the sack.
        Anyone who runs will be eliminated.
        • At the signal, all participants must start the race simultaneously.
        • Participants must complete the finish line.
        • If sach falls from the hands of participants, he/she will be eliminated.    </pre> </h6>
    </div>
    
    <!-- Modal footer -->
    
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
        </div>
        </div>
        </div>  




        <div class="modal fade" id="foot">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
               <!-- Modal Header -->
                <div class="modal-header">
                   <h4 class="modal-title">Football Auction</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                                
                                <!-- Modal body -->
              <div class="modal-body">
                  <h6>
        <pre>
            Fees:Team of 3-90Rs
            Football Auction is virtual auction where your financial and 
            managerial skills are tested. It is a virtual platform where you 
            can bid for your favourite players and form a balanced team. 
            Here you need to score maximum points considering your financial 
            constraints.
            Rules:
            • Every team must buy 11 players including one goalkeeper
            • You cannot buy a second goalkeeper until all teams have a
             wicket-keeper(There will be a separate section for wicket-keepers)
            • If you cross your budget of 110 Crores you will be automatically
             disqualified from the auction
            • You have to Bid values on scale of 0.5 Crores
            • Team bidding maximum amount will get the player
            • If two teams bid at same price, one of the team has to raise
             their price else the player will have to be re-auctioned
            • Team who satisfies all the above criteria and whose total points
             would be maximum will be the winner
            • If there is a clash in the points total, the team which has more 
            money left wins
            • At the mid of the auction there will be ‘window section’ where
             you can put 3 players you have bought in auction and you can buy 
             another players which will be put by the others team.
            Terms and Conditions:
            • Points decided by the committee of ITSA are considered as final
            • Points decided are based on our perception and not on actual 
            statistics
            • No disputes /complaints will be entertained
            • Maximum team size will be 3.
              </pre> </h6>
        </div>
        
        <!-- Modal footer -->
        
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
            </div>
            </div>
            </div>  







            